<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Quick eRide Login</title>
    
</head>
<body style="background-image: url('/assets/car-7.jpg');">
<div class="login-box regis">
	<h1>Registration</h1>
  <% if @person.errors.none? %>
  <% else %>
	  <% @person.errors.full_messages.each do |message| %>
	    <li style="color: red;">
	    	<%= message %>
	    </li>
	  <% end %>
	<% end %>
	<%= form_tag(persons_path, :method => "post") do %>
    <div class="textbox">
      <i class="fa fa-user"></i>
  		<%= text_field_tag :first_name, nil, placeholder: "First Name" %>
  	</div>
	  <div class="textbox">
	  	<i class="fa fa-user"></i>
	  	<%= text_field_tag :last_name, nil, placeholder: "Last Name" %>
	  </div>
	  <div class="textbox">
	  	<i class="fa fa-user"></i>
	  	<%= text_field_tag :user_name, nil, placeholder: "User Name" %>
	  </div>
	  <div class="textbox">
	  	<i class="fa fa-user"></i>
	  	<%= text_field_tag :mobile_number, nil, placeholder: "Phone"  %>
	  </div>
	  <div class="textbox">
	  	<i class="fa fa-user"></i>
	  	<%= text_field_tag :email, nil, placeholder: "Email"  %>
	  </div>
	  <div class="textbox">
	  	<i class="fa fa-user"></i>
	  	<%= password_field_tag :password, nil, placeholder: "Password"  %>
	  </div>
	  <div class="textbox">
	  	<i class="fa fa-user"></i>
	  	<%= password_field_tag :password_confirmation, nil, placeholder: "Confirn Password"  %>
	  </div>
	  <div class="textbox">
	  	<i class="fa fa-user"></i>
	  	<%= text_field_tag :address, nil, placeholder: "Address"  %>
	  </div>
	  <%= submit_tag "Create" %>
	<% end %>
</div>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Autoroad - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Auto<span>road</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
	          <li class="nav-item"><a href="car.html" class="nav-link">Our Car</a></li>
	          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
     END nav -->
    
    <!-- <div class="hero-wrap" style="background-image: url('/assets/BG2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center">
          <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-end">
          	<div class="text">
	            <h1 class="mb-4">Now <span>It's easy for you</span> <span>rent a car</span></h1>
	            <p style="font-size: 18px;">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts</p>
	            <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4">
	            	<div class="icon d-flex align-items-center justify-content-center">
	            		<span class="ion-ios-play"></span>
	            	</div>
	            	<div class="heading-title ml-5">
		            	<span>Easy steps for renting a car</span>
	            	</div>
	            </a>
            </div>
          </div>
          <div class="col-lg-2 col"></div>
          <div class="col-lg-4 col-md-6 mt-0 mt-md-5 d-flex">
          	<form action="#" class="request-form ftco-animate">
          		<h2>Make your trip</h2>
	    				<div class="form-group">
	    					<label for="" class="label">Pick-up location</label>
	    					<input type="text" class="form-control" placeholder="City, Airport, Station, etc">
	    				</div>
	    				<div class="form-group">
	    					<label for="" class="label">Drop-off location</label>
	    					<input type="text" class="form-control" placeholder="City, Airport, Station, etc">
	    				</div>
	    				<div class="d-flex">
	    					<div class="form-group mr-2">
	                <label for="" class="label">Pick-up date</label>
	                <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
	              </div>
	              <div class="form-group ml-2">
	                <label for="" class="label">Drop-off date</label>
	                <input type="text" class="form-control" id="book_off_date" placeholder="Date">
	              </div>
              </div>
              <div class="form-group">
                <label for="" class="label">Pick-up time</label>
                <input type="text" class="form-control" id="time_pick" placeholder="Time">
              </div>
	            <div class="form-group">
	              <input type="submit" value="Search Vehicle" class="btn btn-primary py-3 px-4">
	            </div>
	    			</form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> -->